<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shby.message.dao.MsgBatchPhoneMessageMapper" >
  <resultMap id="BaseResultMap" type="com.shby.message.entity.MsgBatchPhoneMessage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="msg_id" property="msgId" jdbcType="VARCHAR" />
    <result column="user_ids" property="userIds" jdbcType="VARCHAR" />
    <result column="user_names" property="userNames" jdbcType="VARCHAR" />
    <result column="phone_nums" property="phoneNums" jdbcType="VARCHAR" />
    <result column="template_id" property="templateId" jdbcType="BIGINT" />
    <result column="templete_params" property="templeteParams" jdbcType="VARCHAR" />
    <result column="message_title" property="messageTitle" jdbcType="VARCHAR" />
    <result column="message_content" property="messageContent" jdbcType="VARCHAR" />
    <result column="channel_Id" property="channelId" jdbcType="VARCHAR" />
    <result column="is_batch" property="isBatch" jdbcType="TINYINT" />
    <result column="operator_id" property="operatorId" jdbcType="BIGINT" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, msg_id, user_ids, user_names, phone_nums, template_id, templete_params, message_title, 
    message_content, channel_Id, is_batch, operator_id, operator_name, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from msg_batch_phone_message
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from msg_batch_phone_message
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.shby.message.entity.MsgBatchPhoneMessage" useGeneratedKeys="true" keyProperty="id">
    insert into msg_batch_phone_message (id, msg_id, user_ids, 
      user_names, phone_nums, template_id, 
      templete_params, message_title, message_content, 
      channel_Id, is_batch, operator_id, 
      operator_name, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{msgId,jdbcType=VARCHAR}, #{userIds,jdbcType=VARCHAR}, 
      #{userNames,jdbcType=VARCHAR}, #{phoneNums,jdbcType=VARCHAR}, #{templateId,jdbcType=BIGINT}, 
      #{templeteParams,jdbcType=VARCHAR}, #{messageTitle,jdbcType=VARCHAR}, #{messageContent,jdbcType=VARCHAR}, 
      #{channelId,jdbcType=VARCHAR}, #{isBatch,jdbcType=TINYINT}, #{operatorId,jdbcType=BIGINT}, 
      #{operatorName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shby.message.entity.MsgBatchPhoneMessage" useGeneratedKeys="true" keyProperty="id">
    insert into msg_batch_phone_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="msgId != null" >
        msg_id,
      </if>
      <if test="userIds != null" >
        user_ids,
      </if>
      <if test="userNames != null" >
        user_names,
      </if>
      <if test="phoneNums != null" >
        phone_nums,
      </if>
      <if test="templateId != null" >
        template_id,
      </if>
      <if test="templeteParams != null" >
        templete_params,
      </if>
      <if test="messageTitle != null" >
        message_title,
      </if>
      <if test="messageContent != null" >
        message_content,
      </if>
      <if test="channelId != null" >
        channel_Id,
      </if>
      <if test="isBatch != null" >
        is_batch,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="operatorName != null" >
        operator_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="msgId != null" >
        #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="userIds != null" >
        #{userIds,jdbcType=VARCHAR},
      </if>
      <if test="userNames != null" >
        #{userNames,jdbcType=VARCHAR},
      </if>
      <if test="phoneNums != null" >
        #{phoneNums,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null" >
        #{templateId,jdbcType=BIGINT},
      </if>
      <if test="templeteParams != null" >
        #{templeteParams,jdbcType=VARCHAR},
      </if>
      <if test="messageTitle != null" >
        #{messageTitle,jdbcType=VARCHAR},
      </if>
      <if test="messageContent != null" >
        #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="isBatch != null" >
        #{isBatch,jdbcType=TINYINT},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shby.message.entity.MsgBatchPhoneMessage" >
    update msg_batch_phone_message
    <set >
      <if test="msgId != null" >
        msg_id = #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="userIds != null" >
        user_ids = #{userIds,jdbcType=VARCHAR},
      </if>
      <if test="userNames != null" >
        user_names = #{userNames,jdbcType=VARCHAR},
      </if>
      <if test="phoneNums != null" >
        phone_nums = #{phoneNums,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null" >
        template_id = #{templateId,jdbcType=BIGINT},
      </if>
      <if test="templeteParams != null" >
        templete_params = #{templeteParams,jdbcType=VARCHAR},
      </if>
      <if test="messageTitle != null" >
        message_title = #{messageTitle,jdbcType=VARCHAR},
      </if>
      <if test="messageContent != null" >
        message_content = #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null" >
        channel_Id = #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="isBatch != null" >
        is_batch = #{isBatch,jdbcType=TINYINT},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorName != null" >
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shby.message.entity.MsgBatchPhoneMessage" >
    update msg_batch_phone_message
    set msg_id = #{msgId,jdbcType=VARCHAR},
      user_ids = #{userIds,jdbcType=VARCHAR},
      user_names = #{userNames,jdbcType=VARCHAR},
      phone_nums = #{phoneNums,jdbcType=VARCHAR},
      template_id = #{templateId,jdbcType=BIGINT},
      templete_params = #{templeteParams,jdbcType=VARCHAR},
      message_title = #{messageTitle,jdbcType=VARCHAR},
      message_content = #{messageContent,jdbcType=VARCHAR},
      channel_Id = #{channelId,jdbcType=VARCHAR},
      is_batch = #{isBatch,jdbcType=TINYINT},
      operator_id = #{operatorId,jdbcType=BIGINT},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectByBean" resultMap="BaseResultMap" parameterType="com.shby.message.entity.MsgBatchPhoneMessage">
	select <include refid="Base_Column_List" />
	from msg_batch_phone_message T WHERE 1 = 1
      <if test="msgId != null" >
        AND msg_id = #{msgId,jdbcType=VARCHAR}
      </if>
      <if test="userIds != null" >
        AND user_ids = #{userIds,jdbcType=VARCHAR}
      </if>
      <if test="userNames != null" >
        AND user_names = #{userNames,jdbcType=VARCHAR}
      </if>
      <if test="phoneNums != null" >
        AND phone_nums = #{phoneNums,jdbcType=VARCHAR}
      </if>
      <if test="templateId != null" >
        AND template_id = #{templateId,jdbcType=BIGINT}
      </if>
      <if test="templeteParams != null" >
        AND templete_params = #{templeteParams,jdbcType=VARCHAR}
      </if>
      <if test="messageTitle != null" >
        AND message_title = #{messageTitle,jdbcType=VARCHAR}
      </if>
      <if test="messageContent != null" >
        AND message_content = #{messageContent,jdbcType=VARCHAR}
      </if>
      <if test="channelId != null" >
        AND channel_Id = #{channelId,jdbcType=VARCHAR}
      </if>
      <if test="isBatch != null" >
        AND is_batch = #{isBatch,jdbcType=TINYINT}
      </if>
      <if test="operatorId != null" >
        AND operator_id = #{operatorId,jdbcType=BIGINT}
      </if>
      <if test="operatorName != null" >
        AND operator_name = #{operatorName,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
  </select>
</mapper>